* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    font-family: roboto;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.main-navbar {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.toggle {
    border: transparent;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 1s linear;
    color: #1890c4;
}

.toggle:hover {
    transform: rotate(90deg);
}

img {
    height: 40px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.links {
    padding: 0px;
    margin-top: 0px;
}

.link-container {
    width: 100%;
    overflow: hidden;
}

.links a {
    color: #1f58a2;
    padding: 0.5rem;
    display: block;
    text-transform: capitalize;
    transition: all 0.3s linear;
}

.links a:hover {
    background-color: rgba(70, 132, 189, 0.457);
    border-radius: 0.25rem;
    padding-left: 1rem;
}

.show-links {
    height: 10rem;
}

.icons {
    display: none;
}

.icons li {
    padding: 4px;
}

.icons a {
    color: #1f58a2;
}

@media screen and (min-width: 800px) {
    .icons {
        display: flex;
        margin-top: 11px;
    }

    .toggle {
        display: none;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
        height: 70px;
    }

    .links {
        display: flex;
        margin-top: 6px;
    }

    .links a {
        padding: 5px;
    }

    .main-content {
        margin-top: 0px;
    }

    .link-container {
        width: 100%;
        overflow: visible;
    }
}

@media screen and (min-width: 992px) {

}